.documentory-child8 {
  top: 201px;
  left: -11px;
  background-color: var(--color-oldlace);
  width: 1466px;
  height: 2182px;
}
.documentory-child8,
.documentory-child9,
.precision-3-icon2 {
  position: absolute;
  border-radius: var(--br-mini);
}
.documentory-child9 {
  top: 706px;
  left: 0;
  background-color: var(--color-oldlace);
  width: 1440px;
  height: 1717px;
}
.precision-3-icon2 {
  top: 313px;
  left: 28px;
  width: 1388px;
  height: 668px;
  object-fit: cover;
}
.pehchaan-an-initiative2 {
  top: 444px;
  left: 132px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkseagreen-100);
  width: 376px;
  height: 40px;
}
.as-we-ventured2,
.pehchaan-an-initiative2,
.pehchaan10 {
  position: absolute;
  display: inline-block;
}
.pehchaan10 {
  top: 249px;
  left: 532px;
  font-size: var(--font-size-13xl);
  color: var(--color-maroon);
  text-align: center;
  width: 376px;
  height: 40px;
}
.as-we-ventured2 {
  top: 501px;
  left: 132px;
  font-size: var(--font-size-smi);
  color: var(--color-darkseagreen-100);
  width: 300px;
  height: 127px;
}
.in-the-scorching1 {
  margin: 0;
}
.explore-the-document1,
.explore-the-documentary1,
.in-the-scorching-container1 {
  position: absolute;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.in-the-scorching-container1 {
  top: 1205px;
  left: 361px;
  font-size: var(--font-size-smi);
  width: 718px;
  height: 143px;
}
.explore-the-document1,
.explore-the-documentary1 {
  top: 1411px;
  left: 519px;
  font-weight: 300;
  width: 185px;
  height: 20px;
}
.explore-the-documentary1 {
  left: 757px;
  cursor: pointer;
}
.gulnaara2-13-13-13-1-icon1 {
  position: absolute;
  top: 1038px;
  left: 676px;
  width: 87px;
  height: 80px;
  object-fit: cover;
}
.documentory-child10 {
  position: absolute;
  top: 1534.5px;
  left: 250px;
  width: 938px;
  height: 5.5px;
}
.documentory-child11,
.documentory-child12 {
  position: absolute;
  top: 1402px;
  left: 513px;
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 196px;
  height: 33px;
}
.documentory-child12 {
  left: 744px;
  width: 209px;
}
.documentory-child13 {
  position: absolute;
  top: -65px;
  left: 25px;
  border-radius: var(--br-9xl);
  background-color: var(--color-floralwhite-200);
  box-shadow: 0 4px 5px rgba(118, 35, 0, 0.15);
  width: 1393px;
  height: 242px;
}
.home10,
.shop10 {
  position: absolute;
  top: 131px;
  left: 499px;
  display: inline-block;
  width: 53px;
  height: 14px;
}
.shop10 {
  left: 597px;
}
.our-story10 {
  left: 678px;
  width: 87px;
}
.contact10,
.our-story10,
.pehchaan11 {
  position: absolute;
  top: 131px;
  display: inline-block;
  height: 14px;
}
.pehchaan11 {
  left: 791px;
  color: var(--color-brown-300);
  width: 63px;
}
.contact10 {
  left: 891px;
  width: 91px;
}
.group-child63 {
  position: absolute;
  top: 6.33px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 0.8px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 17.73px;
  height: 12.67px;
}
.group-child64 {
  position: absolute;
  top: -0.25px;
  left: 4.73px;
  width: 8.67px;
  height: 16.41px;
}
.rectangle-parent28 {
  position: absolute;
  top: 128px;
  left: 1253px;
  width: 17.73px;
  height: 19px;
}
.documentory-child14 {
  position: absolute;
  top: 131px;
  left: 307px;
  background-color: var(--color-floralwhite-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 208px;
  height: 17px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  opacity: 0.42;
}
.group-child65 {
  position: absolute;
  top: 0;
  left: -11px;
  width: 9px;
  height: 9px;
}
.ellipse-parent7,
.group-child66 {
  position: absolute;
  transform-origin: 0 0;
}
.group-child66 {
  top: 7px;
  left: -3.69px;
  background-color: var(--color-brown-100);
  width: 1px;
  height: 5px;
  transform: rotate(132.42deg);
}
.ellipse-parent7 {
  top: 134px;
  left: 301px;
  width: 11px;
  height: 11.11px;
  transform: rotate(180deg);
}
.documentory-child15,
.social-icon18 {
  position: absolute;
  top: 131px;
  left: 1306px;
  width: 15px;
  height: 16px;
}
.social-icon18 {
  height: 0.79%;
  width: 9.69%;
  top: 95.39%;
  right: 34.16%;
  bottom: 3.82%;
  left: 56.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.documentory-child16 {
  position: absolute;
  top: 1642px;
  right: 10px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkseagreen-200);
  width: 1416px;
  height: 660px;
}
.documentory-child17 {
  position: absolute;
  top: 2257px;
  left: 2px;
  border-radius: var(--br-mid);
  background-color: var(--color-mediumvioletred);
  width: 1440px;
  height: 100px;
}
.final-gulnaara-13-48 {
  position: absolute;
  top: 46px;
  left: 663px;
  width: 125px;
  height: 66px;
  object-fit: cover;
}
.input-background18 {
  position: absolute;
  height: 100%;
  width: 73.53%;
  top: 0;
  right: 26.47%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.placeholder18 {
  position: absolute;
  height: 42.86%;
  width: 29.41%;
  top: 28.57%;
  left: 5.58%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.5;
}
.subscribe19 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button18 {
  position: absolute;
  height: 80.26%;
  width: 34.54%;
  top: 2.18%;
  right: 0;
  bottom: 17.56%;
  left: 65.46%;
  border-radius: var(--br-xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--b);
}
.form18 {
  position: absolute;
  height: 207.41%;
  width: 175.29%;
  top: 159.26%;
  right: -75.29%;
  bottom: -266.67%;
  left: 0;
  display: none;
}
.subscribe-to-our19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 600;
  color: var(--color-brown-200);
  display: inline-block;
}
.site-title18 {
  position: absolute;
  height: 148.63%;
  width: 103.17%;
  top: -240.01%;
  left: 1.31%;
  font-size: var(--font-size-27xl);
  letter-spacing: 0.5px;
  line-height: 150%;
  font-family: var(--font-sanchez);
  display: none;
}
.footer-column-subscribe18 {
  position: absolute;
  height: 14.44%;
  width: 17.79%;
  top: 34.22%;
  right: 13.41%;
  bottom: 51.34%;
  left: 68.8%;
  display: none;
  font-size: var(--paragraph-size);
  color: var(--white);
}
.lead-generate10,
.remote-collaboration10,
.time-schedule10 {
  position: absolute;
  height: 26.37%;
  width: 90.62%;
  top: 179.12%;
  left: -0.52%;
  line-height: 150%;
  display: none;
  opacity: 0.6;
}
.lead-generate10,
.time-schedule10 {
  width: 74.13%;
  top: 143.96%;
}
.time-schedule10 {
  top: 108.79%;
}
.time-tracker10 {
  height: 26.37%;
  width: 64.71%;
  top: 73.63%;
  left: 0.11%;
  opacity: 0.6;
}
.product12,
.project-managment10,
.time-tracker10 {
  position: absolute;
  line-height: 150%;
  display: inline-block;
}
.project-managment10 {
  height: 26.37%;
  width: 99.89%;
  top: 38.46%;
  left: 0.11%;
  opacity: 0.6;
}
.product12 {
  height: 29.67%;
  width: 73.44%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column30 {
  position: absolute;
  height: 48.66%;
  width: 18.09%;
  top: 0;
  right: 36.26%;
  bottom: 51.34%;
  left: 45.64%;
}
.blog10,
.contact-us11 {
  position: absolute;
  height: 15.48%;
  width: 52.66%;
  top: 84.52%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.blog10 {
  width: 20.71%;
  top: 63.87%;
}
.terms-and-condition10 {
  height: 15.48%;
  width: 99.41%;
  top: 43.23%;
  opacity: 0.6;
}
.privacy-policy10,
.resources10,
.terms-and-condition10 {
  position: absolute;
  left: 0.59%;
  line-height: 150%;
  display: inline-block;
}
.privacy-policy10 {
  height: 15.48%;
  width: 64.5%;
  top: 22.58%;
  opacity: 0.6;
}
.resources10 {
  height: 17.42%;
  width: 55.03%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column31 {
  position: absolute;
  height: 82.89%;
  width: 18.19%;
  top: 0;
  right: 59.04%;
  bottom: 17.11%;
  left: 22.77%;
}
.pricing10,
.testimonial10 {
  position: absolute;
  height: 15.48%;
  width: 74.4%;
  top: 84.52%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.pricing10 {
  width: 43.2%;
  top: 63.87%;
}
.why-choose-us10 {
  height: 15.48%;
  width: 99.2%;
  top: 43.23%;
  opacity: 0.6;
}
.about-us10,
.company10,
.why-choose-us10 {
  position: absolute;
  left: 0.8%;
  line-height: 150%;
  display: inline-block;
}
.about-us10 {
  height: 15.48%;
  width: 57.6%;
  top: 22.58%;
  opacity: 0.6;
}
.company10 {
  height: 17.42%;
  width: 72.8%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column32 {
  position: absolute;
  height: 82.89%;
  width: 18.19%;
  top: 0;
  right: 81.81%;
  bottom: 17.11%;
  left: 0;
}
.component-4-frame,
.documentory-inner1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 705.5px);
  width: 1411px;
}
.documentory-inner1 {
  height: 10%;
  top: 82.07%;
  bottom: 7.94%;
  left: calc(50% - 618px);
  font-size: var(--font-size-smi);
  font-family: var(--paragraph);
}
.subscribe-to-our20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 600;
  color: var(--color-brown-200);
  text-align: center;
  display: inline-block;
}
.footer-column-subscribe19 {
  position: absolute;
  height: 1.44%;
  width: 17.43%;
  top: 90.05%;
  right: 8.19%;
  bottom: 8.51%;
  left: 74.38%;
  font-size: var(--paragraph-size);
  color: var(--white);
  font-family: var(--paragraph);
}
.copyright-2023-gulnaara9 {
  position: absolute;
  height: 0.99%;
  width: 23.13%;
  top: 95.2%;
  left: 7.08%;
  font-size: var(--font-size-3xs);
  line-height: 150%;
  font-weight: 300;
  color: var(--color-brown-400);
  display: inline-block;
}
.social-icon19 {
  position: absolute;
  height: 0.79%;
  width: 9.69%;
  top: 95.2%;
  right: 38.5%;
  bottom: 4.02%;
  left: 51.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.final-gulnaara-13-51 {
  position: absolute;
  top: 2010px;
  left: 1110px;
  width: 173px;
  height: 76px;
  object-fit: cover;
  cursor: pointer;
}
.documentory1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 2331px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-brown-100);
  font-family: var(--font-inter);
}
