.our-story-ii-child15 {
  position: absolute;
  top: 330px;
  left: -32px;
  border-radius: var(--br-mini);
  background-color: var(--color-oldlace);
  width: 1520px;
  height: 5691px;
}
.our-story-ii-child16 {
  position: absolute;
  top: -60px;
  left: 23px;
  border-radius: var(--br-9xl);
  background-color: var(--color-floralwhite-200);
  box-shadow: 0 4px 5px rgba(118, 35, 0, 0.15);
  width: 1393px;
  height: 369px;
}
.gulnaara-13-2-icon3 {
  position: absolute;
  top: 66px;
  left: 561px;
  width: 318px;
  height: 184px;
  object-fit: cover;
}
.our-story-ii-child17 {
  top: 470px;
  right: 23px;
  background-color: var(--color-gainsboro-300);
  width: 1394px;
  height: 631px;
}
.icon5,
.our-story-ii-child17,
.our-story-ii-child18 {
  position: absolute;
  border-radius: var(--br-mini);
}
.icon5 {
  top: 2680px;
  left: 86px;
  width: 782px;
  height: 503px;
  object-fit: cover;
}
.our-story-ii-child18 {
  top: 1168px;
  right: 24px;
  background-color: var(--color-khaki);
  width: 1394px;
  height: 631px;
}
.contact8,
.home8,
.our-story8,
.pehchaan8,
.shop8 {
  position: absolute;
  top: 263px;
  left: 497px;
  font-size: var(--font-size-2xs);
  color: var(--color-brown-100);
  display: inline-block;
  width: 53px;
  height: 14px;
}
.contact8,
.our-story8,
.pehchaan8,
.shop8 {
  left: 595px;
}
.contact8,
.our-story8,
.pehchaan8 {
  left: 676px;
  color: var(--color-brown-300);
  width: 87px;
}
.contact8,
.pehchaan8 {
  left: 789px;
  color: var(--color-brown-100);
  width: 63px;
}
.contact8 {
  left: 889px;
  width: 91px;
}
.group-child41 {
  position: absolute;
  top: 6.33px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 0.8px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 17.73px;
  height: 12.67px;
}
.group-child42 {
  position: absolute;
  top: -0.25px;
  left: 4.73px;
  width: 8.67px;
  height: 16.41px;
}
.rectangle-parent15 {
  position: absolute;
  top: 260px;
  left: 1251px;
  width: 17.73px;
  height: 19px;
}
.our-story-ii-child19,
.our-story-ii-child20 {
  position: absolute;
  top: 596px;
  left: 941px;
  border-radius: var(--br-9xl);
  background-color: var(--color-floralwhite-200);
  box-shadow: 0 4px 5px rgba(118, 35, 0, 0.15);
  width: 397px;
  height: 369px;
}
.our-story-ii-child20 {
  top: 1306px;
  left: 957px;
  background-color: var(--color-maroon);
}
.our-story-ii-child21 {
  position: absolute;
  top: 263px;
  left: 305px;
  background-color: var(--color-floralwhite-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 208px;
  height: 17px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  opacity: 0.42;
}
.group-child43 {
  position: absolute;
  top: 0;
  left: -11px;
  width: 9px;
  height: 9px;
}
.ellipse-parent5,
.group-child44 {
  position: absolute;
  transform-origin: 0 0;
}
.group-child44 {
  top: 7px;
  left: -3.69px;
  background-color: var(--color-brown-100);
  width: 1px;
  height: 5px;
  transform: rotate(132.42deg);
}
.ellipse-parent5 {
  top: 266px;
  left: 299px;
  width: 11px;
  height: 11.11px;
  transform: rotate(180deg);
}
.our-story-ii-child22 {
  position: absolute;
  top: 263px;
  left: 1304px;
  width: 15px;
  height: 16px;
}
.story-of-phulkari1 {
  position: absolute;
  top: 388px;
  left: 531px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 376px;
  height: 40px;
}
.originally-done-with1 {
  margin: 0;
}
.originally-done-with-container1,
.phulkari-is-an-container1 {
  position: absolute;
  top: 704px;
  left: 284px;
  display: inline-block;
  width: 564px;
  height: 136px;
}
.phulkari-is-an-container1 {
  top: 1423px;
  width: 566px;
  height: 174px;
}
.book-mark-13-25,
.book-mark-13-33,
.book-mark-13-43,
.book-mark-13-53 {
  position: absolute;
  top: 418px;
  left: 81px;
  width: 163px;
  height: 446px;
  object-fit: cover;
}
.book-mark-13-33,
.book-mark-13-43,
.book-mark-13-53 {
  top: 801px;
  height: 382px;
}
.book-mark-13-33,
.book-mark-13-53 {
  top: 299px;
  height: 172px;
}
.book-mark-13-33 {
  top: 1046px;
  height: 523px;
}
.our-story-ii-child23 {
  position: absolute;
  top: 10758px;
  right: 12px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkseagreen-200);
  width: 1416px;
  height: 660px;
}
.input-background13 {
  position: absolute;
  height: 100%;
  width: 73.53%;
  top: 0;
  right: 26.47%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.placeholder13 {
  position: absolute;
  height: 42.86%;
  width: 29.41%;
  top: 28.57%;
  left: 5.58%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.5;
}
.subscribe14 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button13 {
  position: absolute;
  height: 80.26%;
  width: 34.54%;
  top: 2.18%;
  right: 0;
  bottom: 17.56%;
  left: 65.46%;
  border-radius: var(--br-xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--b);
}
.form13 {
  position: absolute;
  height: 207.41%;
  width: 175.29%;
  top: 159.26%;
  right: -75.29%;
  bottom: -266.67%;
  left: 0;
  display: none;
}
.subscribe-to-our14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 600;
  color: var(--color-brown-200);
  display: inline-block;
}
.site-title13 {
  position: absolute;
  height: 148.63%;
  width: 103.17%;
  top: -240.01%;
  left: 1.31%;
  font-size: var(--font-size-27xl);
  letter-spacing: 0.5px;
  line-height: 150%;
  font-family: var(--font-sanchez);
  display: none;
}
.footer-column-subscribe13 {
  position: absolute;
  height: 14.44%;
  width: 17.79%;
  top: 34.22%;
  right: 13.41%;
  bottom: 51.34%;
  left: 68.8%;
  display: none;
  font-size: var(--paragraph-size);
  color: var(--white);
}
.lead-generate7,
.remote-collaboration7,
.time-schedule7 {
  position: absolute;
  height: 12.83%;
  width: 90.16%;
  top: 87.17%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.lead-generate7,
.time-schedule7 {
  width: 73.75%;
  top: 70.05%;
}
.time-schedule7 {
  top: 52.94%;
}
.time-tracker7 {
  height: 12.83%;
  width: 64.37%;
  top: 35.83%;
  left: 0.62%;
  opacity: 0.6;
}
.product8,
.project-managment7,
.time-tracker7 {
  position: absolute;
  line-height: 150%;
  display: inline-block;
}
.project-managment7 {
  height: 12.83%;
  width: 99.37%;
  top: 18.72%;
  left: 0.62%;
  opacity: 0.6;
}
.product8 {
  height: 14.44%;
  width: 73.06%;
  top: 0;
  left: 0.52%;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column21 {
  position: absolute;
  height: 100%;
  width: 18.19%;
  top: 0;
  right: 36.26%;
  bottom: 0;
  left: 45.55%;
}
.blog7,
.contact-us8 {
  position: absolute;
  height: 15.48%;
  width: 52.66%;
  top: 84.52%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.blog7 {
  width: 20.71%;
  top: 63.87%;
}
.terms-and-condition7 {
  height: 15.48%;
  width: 99.41%;
  top: 43.23%;
  opacity: 0.6;
}
.privacy-policy7,
.resources7,
.terms-and-condition7 {
  position: absolute;
  left: 0.59%;
  line-height: 150%;
  display: inline-block;
}
.privacy-policy7 {
  height: 15.48%;
  width: 64.5%;
  top: 22.58%;
  opacity: 0.6;
}
.resources7 {
  height: 17.42%;
  width: 55.03%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column22 {
  position: absolute;
  height: 82.89%;
  width: 18.19%;
  top: 0;
  right: 59.04%;
  bottom: 17.11%;
  left: 22.77%;
}
.pricing7,
.testimonial7 {
  position: absolute;
  height: 15.48%;
  width: 74.4%;
  top: 84.52%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.pricing7 {
  width: 43.2%;
  top: 63.87%;
}
.why-choose-us7 {
  height: 15.48%;
  width: 99.2%;
  top: 43.23%;
  opacity: 0.6;
}
.about-us7,
.company7,
.why-choose-us7 {
  position: absolute;
  left: 0.8%;
  line-height: 150%;
  display: inline-block;
}
.about-us7 {
  height: 15.48%;
  width: 57.6%;
  top: 22.58%;
  opacity: 0.6;
}
.company7 {
  height: 17.42%;
  width: 72.8%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column23 {
  position: absolute;
  height: 82.89%;
  width: 18.19%;
  top: 0;
  right: 81.81%;
  bottom: 17.11%;
  left: 0;
}
.component-35 {
  position: absolute;
  top: calc(50% + 5231px);
  left: calc(50% - 622px);
  width: 1411px;
  height: 233px;
  color: var(--color-brown-100);
  font-family: var(--paragraph);
}
.final-gulnaara-13-35 {
  position: absolute;
  top: 11172px;
  left: 1090px;
  width: 173px;
  height: 76px;
  object-fit: cover;
}
.our-story-ii-child24 {
  position: absolute;
  top: 11373px;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-mediumvioletred);
  width: 1440px;
  height: 100px;
}
.icon6,
.icon7 {
  position: absolute;
  top: 4477px;
  left: 578px;
  border-radius: var(--br-mini);
  width: 776px;
  height: 499px;
  object-fit: cover;
}
.icon7 {
  top: 3286px;
}
.process-of-making1 {
  position: absolute;
  top: 1953px;
  left: 459px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 521px;
  height: 53px;
}
.diverse-motifs-of1,
.the-laborious-affair-container1,
.they-are-made1 {
  position: absolute;
  top: 2450px;
  left: 126px;
  display: inline-block;
  width: 360px;
  height: 76px;
}
.diverse-motifs-of1,
.they-are-made1 {
  top: 3593px;
  left: 131px;
  width: 358px;
  height: 163px;
}
.they-are-made1 {
  top: 4846px;
  height: 117px;
}
.the-printed-fabric1,
.the-woven-khaddar-container1 {
  position: absolute;
  top: 4176px;
  left: 945px;
  display: inline-block;
  width: 358px;
  height: 190px;
}
.the-woven-khaddar-container1 {
  top: 3052px;
  width: 330px;
  height: 76px;
}
.our-story-ii-child25,
.our-story-ii-child26,
.our-story-ii-child27,
.our-story-ii-child28,
.our-story-ii-child29 {
  position: absolute;
  top: 2366px;
  left: 86px;
  border-radius: var(--br-xl);
  background-color: var(--color-maroon);
  width: 438px;
  height: 97px;
}
.our-story-ii-child26,
.our-story-ii-child27,
.our-story-ii-child28,
.our-story-ii-child29 {
  top: 3474px;
}
.our-story-ii-child27,
.our-story-ii-child28,
.our-story-ii-child29 {
  top: 4727px;
}
.our-story-ii-child28,
.our-story-ii-child29 {
  top: 4057px;
  left: 900px;
}
.our-story-ii-child29 {
  top: 2932px;
}
.chapaai1,
.embroidery1,
.khadar-making,
.product9,
.rangai1 {
  position: absolute;
  top: 2403px;
  left: 131px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-floralwhite-200);
  display: inline-block;
  width: 279px;
  height: 29px;
}
.chapaai1,
.embroidery1,
.product9,
.rangai1 {
  top: 3511px;
  font-size: var(--paragraph-size);
}
.embroidery1,
.product9,
.rangai1 {
  top: 4764px;
  font-size: var(--font-size-xl);
}
.embroidery1,
.rangai1 {
  top: 4094px;
  left: 945px;
}
.rangai1 {
  top: 2970px;
}
.social-icon13 {
  position: absolute;
  height: 0.31%;
  width: 9.69%;
  top: 97.74%;
  right: 34.3%;
  bottom: 1.95%;
  left: 56.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.our-story-ii-child30 {
  position: absolute;
  top: 5193px;
  right: 12px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkseagreen-200);
  width: 1416px;
  height: 660px;
}
.our-story-ii-child31 {
  position: absolute;
  top: 5808px;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-mediumvioletred);
  width: 1440px;
  height: 100px;
}
.lead-generate8,
.remote-collaboration8,
.time-schedule8 {
  position: absolute;
  height: 26.37%;
  width: 90.62%;
  top: 179.12%;
  left: -0.52%;
  line-height: 150%;
  display: none;
  opacity: 0.6;
}
.lead-generate8,
.time-schedule8 {
  width: 74.13%;
  top: 143.96%;
}
.time-schedule8 {
  top: 108.79%;
}
.time-tracker8 {
  height: 26.37%;
  width: 64.71%;
  top: 73.63%;
  left: 0.11%;
  opacity: 0.6;
}
.product10,
.project-managment8,
.time-tracker8 {
  position: absolute;
  line-height: 150%;
  display: inline-block;
}
.project-managment8 {
  height: 26.37%;
  width: 99.89%;
  top: 38.46%;
  left: 0.11%;
  opacity: 0.6;
}
.product10 {
  height: 29.67%;
  width: 73.44%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column24 {
  position: absolute;
  height: 48.66%;
  width: 18.09%;
  top: 0;
  right: 36.26%;
  bottom: 51.34%;
  left: 45.64%;
}
.component-42 {
  position: absolute;
  top: calc(50% + 2506px);
  left: calc(50% - 634px);
  width: 1411px;
  height: 233px;
  color: var(--color-brown-100);
  font-family: var(--paragraph);
}
.subscribe-to-our16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 600;
  color: var(--color-brown-200);
  text-align: center;
  display: inline-block;
}
.footer-column-subscribe15 {
  position: absolute;
  height: 0.57%;
  width: 17.43%;
  top: 95.57%;
  right: 9.3%;
  bottom: 3.87%;
  left: 73.26%;
  font-size: var(--paragraph-size);
  color: var(--white);
  font-family: var(--paragraph);
}
.copyright-2023-gulnaara7 {
  position: absolute;
  height: 0.39%;
  width: 23.13%;
  top: 97.6%;
  left: 5.97%;
  font-size: var(--font-size-3xs);
  line-height: 150%;
  font-weight: 300;
  color: var(--color-brown-400);
  display: inline-block;
}
.social-icon14 {
  position: absolute;
  height: 0.31%;
  width: 9.69%;
  top: 97.6%;
  right: 39.61%;
  bottom: 2.09%;
  left: 50.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.final-gulnaara-13-46 {
  position: absolute;
  top: 5557px;
  left: 1094px;
  width: 173px;
  height: 76px;
  object-fit: cover;
  cursor: pointer;
}
.our-story-ii1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 5908px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-maroon);
  font-family: var(--font-inter);
}
